@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  /* font */
  --main-font: "Nunito Sans", arial;

  /* light color scheme */
  --white: #fff;
  --light: #f0f0f0;
  --light-shadow: #bbbb;
}

body {
  font-family: var(--main-font);
  margin: 0;
  padding: 0;
  background-color: var(--light);
}

/* header and nav styles */
.nav-header {
  padding: 1rem 2rem;
  background-color: var(--white);
  box-shadow: 0px 4px 4px var(--light-shadow);
}
.nav-header nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav-header nav ul a {
  text-decoration: none;
  color: black;
}
.nav-home {
  font-size: 1.5rem;
  font-weight: 800;
}

/* home page */
.countries-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem;
}

/* country card */
.country-card {
  background-color: var(--white);
  border-radius: .3rem;
  box-shadow: 3px 3px 3px var(--light-shadow);
  overflow: hidden; /* gets border radius from card on image tops */
}
.country-card img {
  width: 100%;
}
.country-card-contents {
  padding-left: .5rem;
}

/* media queries */
@media (min-width: 800px) {
  .countries-grid {
  grid-template-columns: repeat(4, 1fr);
}
}